<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<config>
    <maxAgentMessage>10</maxAgentMessage>
    <maxNumberOfEntity>50</maxNumberOfEntity>
    <maxTransactionsPerEntity>3</maxTransactionsPerEntity>
    <maxNumberPartners>10</maxNumberPartners>
    <maxNumberParents>15</maxNumberParents>
    <personMean>400</personMean>
    <personStdDev>10</personStdDev>
    <companyMean>900</companyMean>
    <companyStdDev>50</companyStdDev>
    <scoreWindowType>1</scoreWindowType> /*number of months*/
</config>
