<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<config>
    /*NETWORK CONFIG*/    
    <numberOfEntity>10</numberOfEntity>
    <maxEdgesPerEntity>20</maxEdgesPerEntity>
    <numberPartners>5</numberPartners>
    <numberParents>4</numberParents>
    <numberDummies>3</numberDummies>
    <laundererPercentage>5</laundererPercentage>
    <guiEnabled>false</guiEnabled>
    /*NUMBER OF MESSAGES TO OTHER NODES*/
    <employeeMessageMean>100</employeeMessageMean>
    <employeeMessageStdDev>1</employeeMessageStdDev>
    <freelanceMessageMean>100</freelanceMessageMean>
    <freelanceMessageStdDev>1</freelanceMessageStdDev>
    <smallCompanyMessageMean>100</smallCompanyMessageMean>
    <smallCompanyMessageStdDev>1</smallCompanyMessageStdDev>
    <bigCompanyMessageMean>100</bigCompanyMessageMean>
    <bigCompanyMessageStdDev>1</bigCompanyMessageStdDev>
    /*HONEST*/    
    <employeeMeanHonest>500</employeeMeanHonest>
    <employeeStdDevHonest>50</employeeStdDevHonest>
    <freelanceMeanHonest>900</freelanceMeanHonest>
    <freelanceStdDevHonest>150</freelanceStdDevHonest>
    <smallCompanyMeanHonest>2500</smallCompanyMeanHonest>
    <smallCompanyStdDevHonest>250</smallCompanyStdDevHonest>
    <bigCompanyMeanHonest>4100</bigCompanyMeanHonest>
    <bigCompanyStdDevHonest>300</bigCompanyStdDevHonest>
    /*LAUNDERER*/
    <employeeMeanLaunderer>900</employeeMeanLaunderer>
    <employeeStdDevLaunderer>20</employeeStdDevLaunderer>
    <freelanceMeanLaunderer>1500</freelanceMeanLaunderer>
    <freelanceStdDevLaunderer>90</freelanceStdDevLaunderer>
    <smallCompanyMeanLaunderer>3200</smallCompanyMeanLaunderer>
    <smallCompanyStdDevLaunderer>180</smallCompanyStdDevLaunderer>
    <bigCompanyMeanLaunderer>5000</bigCompanyMeanLaunderer>
    <bigCompanyStdDevLaunderer>230</bigCompanyStdDevLaunderer>
    /*YEARS NUMBER*/ 
    <yearsNumber>5</yearsNumber>
    /*WRITE DATA 1=FILE 2=DB 3=ALL*/ 
    <persistenceMode>1</persistenceMode>
    /*FILE*/
    <fileNameTransaction>SYNTHETIC_%s.csv</fileNameTransaction>
    <fileNameEntity>ENTITIES_%s.csv</fileNameEntity>
    /*DATABASE*/
    <dataBaseUsername>sa</dataBaseUsername>
    <dataBasePassword>password</dataBasePassword>
    <dataBaseConnection>jdbc:derby://localhost:1527/synthetic</dataBaseConnection>
    <dataBaseDriver>org.apache.derby.jdbc.ClientDriver</dataBaseDriver>
</config>
